.contactContainer {
  width: 100%;
  min-height: 600px;
  margin-top: 60px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactBg {
  width: 100%;
  height: 100%;
  position: absolute;
  flex: 1;
  background-image: url("../../../../public/images/texture-02.jpg");
  filter: grayscale(70%) brightness(0.15) drop-shadow(0 0px 30px rgba(0,0,0,0.7));
}

.contactWrapper {
  max-width: 900px;
  height: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;

  color: black;
  // background-color: burlywood;
}

.contactFeatures {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  > div {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #fff;

    svg {
      width: 45px;
      height: 45px;
      margin-right: 15px;
    }

    > div {
      strong {
        font-size: 20px;
        letter-spacing: 0.05rem;
      }
      
      p {
        margin-top: 5px;

      }
    }
  } 
}

.contactContent {
  text-align: center;
  color: #fff;

  p {
    width: 78%;
    margin: 2rem auto 2.5rem;
    font-family: var(--font-body);
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.6rem;
  }

  span {
    color: var(--blue-500);
    font-weight: 600;
    font-size: 1.2rem;
  }
}

.contactImg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contactImgCard {
  max-width: 290px;
  height: 240px;
  flex: 1;
  object-fit: cover;
  position: relative;
  border-radius: 4px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);

  img {
    border-radius: 4px;
    object-fit: cover;
  }
}