.introContainer {
  width: 100%;
  min-height: 600px;
  // background-color: cornsilk;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.introWrapper {
  max-width: 1120px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}

.introContent {
  flex: 0.9;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 45px 15px 15px;

  text-align: center;

  h1 {
    font-size: 2.75rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
  }

  h2 { 
    font-weight: 400;
    margin-bottom: 40px;
  }
}

.introInformations {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 35px;
}

.introInformationWrapper {
  text-align: center;
  
  h2 {
    font-size: 1.75rem;
    margin-bottom: 5px;
  }
}

.introImg {
  flex: 1;
  width: 100%;
  height: 85%;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 20px;
  position: relative;
  border-radius: 2px;

  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);

  img {
    border-radius: 2px;
    object-fit: cover;
    filter: contrast(125%);
  }
}

.divider {
  width: 1px;
  height: 70%;
  background-color: var(--white);
  margin: auto 40px;
}

@media screen and (min-height: 720px) {
  .introContainer,
  .introWrapper {
    height: 720px;
  }
}

@media screen and (max-width: 720px) {
  .introContainer {
    height: auto;
    padding-bottom: 40px;
  }

  .introWrapper {
    height: 800px;
    padding: 0 5px;
    flex-direction: column;
  }

  .introContent {
    padding: 15px 0;
  }

  .introImg {
    margin: 25px 0 0 0;
    height: 450px;

    img {
      height: 450px;
      object-fit: cover;
      object-position: center;
    }
  }
}

