.navContainer {
  background-image: linear-gradient(to bottom, var(--gray-950), transparent 50%);
  display: flex;
  justify-content: center;
}

.navWrapper {
  max-width: 1240px;
  padding: 25px 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}

.navLogo {
  width: 75px;
  height: 75px;
  position: relative;
}

.navIconMenu {
  width: 25px;
  height: 25px;
  display: none;
}

.navIconClose {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
}

.navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.navListActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--gray-800);
  z-index: 1;
  width: 70%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px 0;
}

.linkItem {
  font-weight: 400;
  margin: 0 25px;
  transition: all .2s ease;

  &:hover {
    color: var(--blue-300);
    transition: all .2s ease;
  }
}

.lastLinkItem {
  margin-right: 60px;
}


@media screen and (max-width: 720px) {
  .navWrapper {
    padding: 25px 40px;
  }

  .navIconMenu {
    display: flex;
  }

  .linkItem, .lastLinkItem {
    font-weight: 400;
    margin: 20px 0;
  }

  .lastLinkItem {
    margin-bottom: 40px;
  }
  
  .navList {
    z-index: 1;
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .navLogo {
    width: 60px;
    height: 60px;
  }
}