.footerContainer {
  background-color: var(--gray-950);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  span {
    text-align: center;
    font-weight: 300;
    font-size: 0.75rem;
    color: var(--gray-700);
    padding: 5px 0;
  }

  a:hover {
    transition: all 0.2s ease;
    color: var(--gray-500);
  }
}

.footerWrapper {
  width: 100%;
  padding: 15px 0 5px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  position: relative;
}

.footerLogo {
  width: 75px;
  height: 75px;
  position: relative;
}

.footerList {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.linkItem {
  font-weight: 400;
  margin: 5px auto;
  transition: all .2s ease;

  &:hover {
    color: var(--blue-300);
    transition: all .2s ease;
  }
}

.footerIcons {
  min-width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 

  svg {
    width: 25px;
    height: 25px;
    cursor: pointer;

    &:hover {
      color: var(--blue-300);
      transition: all .2s ease;
    }
  }
}


@media screen and (max-width: 720px) {
  .footerWrapper {
    padding: 25px;
  }
}

@media screen and (max-width: 450px) {
  .footerWrapper {
    padding: 10px;
  }

  .footerIcons {
    min-width: 90px;
  }

  .footerLogo {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 330px) {
  .footerContainer {
    height: 100px;
  }

  .footerLogo {
    width: 50px;
    height: 50px;
  }

  .footerList {
    display: none;
  }
}
