.feedbackContainer {
  width: 100%;
  min-height: 500px;
  margin-top: 30px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedbackWrapper {
  max-width: 900px;
  height: 450px;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;

  color: #000;

  h2 {
    width: 100%;
    text-align: center;

    color: #FFF;
    font-family: var(--font-heading);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem;
  }
}
